/* GENERAL STYLING */
.App {
  display: flex;
  flex-direction: column;
  width: calc(3 * 100vw);
  position: relative;
  right: calc(0 - 100vw);
  justify-content: center;
  align-items: center;
}

.TopArea {
  display: flex;
  flex-direction: row;
}

.BottomArea {
  display: flex;
  flex-direction: column;
}

.BackLinkArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  transition: all 0.5s;
}

.BackLinkArea:hover {
  cursor: pointer;
}

.HorizontalSeparator {
  width: 100%;
  height: 1px;
  background-color: #888;

}

.Header {
  font-size: 70px;
  color: #41553A;
  font-weight: 500;
  margin: 3% 0 0 0;
  padding: 0;
  text-shadow: 0 0 5px #888;
  transition: all 0.25s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('./media/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .Header {
    font-size: 40px;
  }
}

/* STYLING FOR THE HOME PAGE */
.HomeBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.HomeBackground .Header {
  margin: 10% 0 0 0;
}

.LocationHeaderOne {
  font-size: 25px;
  color: #41553A;
  font-weight: 500;
  margin: 5% 0 0 0;
  padding: 0;
}

.LocationHeaderTwo {
  font-size: 20px;
  color: #41553A;
  font-weight: 500;
  margin: 5px 0 0 0;
  padding: 0;
}

.NextOpeningHeader {
  font-size: 30px;
  color: #41553A;
  font-weight: 500;
  margin: 50px 0 0 0;
  padding: 0;
}

.BuyTicketButton {
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: #41553A;
  border-radius: 5px;
  border: solid;
  border-width: thin;
  border-color: #41553A;
  margin: 25px 0 0 0;
  box-shadow: 0 0 8px #888;
  transition: all 0.5s;
}

.BuyTicketButton:hover {
  background-color: #41553A;
  color: white;
  cursor: pointer;
}

.ContactLinkArea {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  align-items: center;
  transition: all 0.5s;
}

.ContactLinkArea:hover {
  cursor: pointer;
  left: 20px;
}

.ArtistsLinkArea {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  align-items: center;
  transition: all 0.5s;
}

.ArtistsLinkArea:hover {
  cursor: pointer;
  right: 20px;
}

.ExhibitionsLinkArea {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  align-items: center;
  transition: all 0.5s;
}

.ExhibitionsLinkArea:hover {
  cursor: pointer;
  bottom: 20px;
}

.LinkArrow {
  color: #41553A;
  font-size: 20px;
}

.LinkText {
  font-size: 20px;
  color: #41553A;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .NextOpeningHeader {
    font-size: 20px;
  }

  .LocationHeaderOne {
    font-size: 20px;
  }

  .LocationHeaderTwo {
    font-size: 15px;
  }
}

/* STYLING FOR THE ARTISTS PAGE */
.ArtistsBackground {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  overflow: scroll;
}

.ArtistsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 30px 0;
}

.ArtistsInfoArea {
  width: 95vw;
  max-width: 800px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.ArtistsPhotoArea {
  margin: 0 10px 0 0;
  box-shadow: 0 0 10px #888;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-color: #888;
}

.ArtistsBioArea {
  width: calc(800px - 280px);
  height: calc(250px - 10px);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
  padding: 5px 10px 5px 10px;
  overflow: scroll;
}

.BioText {
  font-size: small;
  font-weight: 500;
  color: #41553A;
  margin: 0;
}

.BioName {
  font-size: large;
  font-weight: 500;
  color: #41553A;
  margin: 0 0 10px 0;
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .ArtistsInfoArea {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ArtistsBioArea {
    justify-content: center;
    align-items: center;
    width: calc(250px - 20px);
    height: fit-content;
  }

  .ArtistsPhotoArea {
    margin: 0 0 10px 0;
  }
}

/* STYLING FOR THE EXHIBITIONS PAGE */
.ExhibitionsBackground {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  overflow: scroll;
}

.ExhibitionsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 30px 0;
}

.Exhibition {
  display: flex;
  flex-direction: row;
  width: 95vw;
  max-width: 800px;
  padding: 10px;
  margin: 10px;
}

.ExhibitionPhotoArea {
  width: 250px;
  height: 250px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
}

.ExhibitionPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ExhibitionInfoArea {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
  width: calc(800px - 250px);
  padding: 5px 10px 5px 10px;
  height: calc(250px - 10px);
  overflow: scroll;
}

.ExhibitionHeader {
  margin: 0;
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
  color: #41553A;
  text-decoration: underline;
}

.ExhibitionSmallHeader {
  margin: 5px 0 0 0;
  font-size: larger;
  font-weight: 500;
  color: #41553A;
}

.ExhibitionText {
  font-size: small;
  color: #41553A;
  font-weight: 500;
  margin: 10px 0 0 0;
}

@media only screen and (max-width: 800px) {
  .Exhibition {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ExhibitionPhotoArea {
    margin: 0 0 10px 0;
  }

  .ExhibitionHeader {
    font-size: large;
  }

  .ExhibitionSmallHeader {
    font-size: medium;
  }

  .ExhibitionInfoArea {
    max-width: calc(250px - 20px);
    height: fit-content;
  }
}


/* STYLING FOR THE CONTACT PAGE */
.ContactBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.ContactArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.ContactInfoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0 0 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px #888;
  padding: 25px;
  width: 80%;
  max-width: 600px;
}

.ContactInfoArea .LocationHeaderOne {
  margin: 10px 0 0 0;
  transition: all 0.2s;
}

.NewsLetterArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0 0 0;
  width: 100%;
}

.NewsLetterLabel {
  font-size: 30px;
  color: #41553A;
  font-weight: 500;
}

.NewsLetterInputArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.NewsLetterInput {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: solid;
  border-width: thin;
  border-color: #41553A;
  box-shadow: 0 0 10px #888;
  margin: 0 5px 0 0;
  font-size: medium;
  color: #41553A;
  font-weight: 500;
  width: 80%;
  max-width: 400px;
  outline: none;
}

.NewsLetterButton {
  border: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: #41553A;
  background-color: white;
  color: #41553A;
  font-size: 15px;
  font-weight: 500;
  padding: 0 10px 0 10px;
  box-shadow: 0 0 10px #888;
  transition: all 0.5s;
}

.NewsLetterButton:hover {
  cursor: pointer;
  background-color: #41553A;
  color: white;
}

@media only screen and (max-width: 800px) {
  .ContactInfoArea .LocationHeaderOne {
    font-size: 15px;
  }
}

/* STYLING FOR THE ADMIN LOGIN PAGE */
.Button {
  padding: 10px 15px 10px 15px;
  border: solid;
  min-width: 100px;
  border-width: thin;
  border-color: #41553A;
  background-color: #41553A;
  color: white;
  font-size: small;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 0 10px #888;
  margin: 10px;
  transition: all 0.5s;
}

.Button:hover {
  cursor: pointer;
  background-color: white;
  color: #41553A;
}

.Input {
  padding: 10px 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #41553A;
  border-radius: 5px;
  font-size: small;
  font-weight: 500;
  font-family: sans-serif;
  color: #41553A;
  outline: none;
  box-shadow: 0 0 10px #888;
  margin: 10px;
}

.Textarea {
  padding: 10px 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #41553A;
  border-radius: 5px;
  font-size: small;
  font-weight: 500;
  font-family: sans-serif;
  color: #41553A;
  outline: none;
  box-shadow: 0 0 10px #888;
  margin: 10px;
  resize: none;
}

.LoginBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.LoginHeader {
  font-size: x-large;
  font-weight: 500;
  color: #41553A;
  margin: 0 0 40px 0;
}

.AdminRegisterInfoText {
  font-size: medium;
  font-weight: 500;
  color: #41553A;
  position: absolute;
  bottom: 10px;
}

.AdminRegisterInfoText a {
  text-decoration: underline;
  color: #11240c;
}

/* STYLING FOR THE ADMIN DASHBOARD PAGE */
.DashboardBackground {
  width: 100vw;
  background-color: #41553A;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 60px 0 60px 0;
}

.DashboardHeader {
  font-size: x-large;
  color: white;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px 0 10px 0;
}

.DashboardHeaderSmall {
  font-size: medium;
  color: white;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

.Navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color:#41553A;
  z-index: 2;
  border-bottom: solid;
  border-width: thin;
  border-color: white;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; 
}

.NavbarLink {
  font-size: medium;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  margin: 0 50px 0 0;
  transition: all 0.5s;
}

.NavbarLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.NavbarHeader {
  font-size: x-large;
  color: white;
  font-weight: bold;
  margin: 0 0 0 50px;
  font-family: sans-serif;

}

.SearchBarArea {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.SearchBarArea .Input {
  width: 100%;
  padding: 10px 15px 10px 15px;
  margin: 10px 10px 0 10px;
  box-shadow: none;
  border-color: white;
}

.SearchListBackground {
  width: 100%;
  margin: 2px 10px 10px 10px;
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  border: solid;
  border-width: thin;
  border-color: #41553A;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 50px;

}

.FilterArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.FilterArea:hover {
  cursor: pointer;
}

.FilterArea:hover .SearchResultItem {
  text-decoration: underline;
  color: #11240c;
}

.SearchResultType {
  font-family: sans-serif;
  list-style-type: none;
  font-size: x-small;
  font-style: italic;
  color: #41553A;
  font-weight: 500;
  margin: 5px 0 5px 0;
}

.SearchResultItem {
  font-family: sans-serif;
  list-style-type: none;
  font-size: small;
  color: #41553A;
  font-weight: 500;
  margin: 5px 0 5px 0;
  transition: all 0.25s;
}

.EmptySearchBar {
  font-size: small;
  font-weight: 200;
  font-family: sans-serif;
  font-style: italic;
  color: #41553A;
  margin: 5px 0 5px 0;
}

.SearchResultArea {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: white;
  background-color: white;
}

.SearchResultLeftSide {
  width: 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchResultLeftSide .Button {
  margin: 5px 0px 0px 0px;
  width: 115px;
}

.ChangeImageContainer {
  margin: 0px 0px 10px 0px;
  width: 240px;
  height: 240px;
  border: solid;
  border-radius: 5px;
  border-color: #41553A;
  border-width: thin;
  box-shadow: 0 0 10px #888;
  background-size: cover;
  background-position: center;
  background-color: #e6e6e6;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ChangeImageContainer:hover {
  cursor: pointer;
}

.ImageIcon {
  color: #41553A;
  font-size: 75px;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

.ChangeImageContainer label:hover {
  cursor: pointer;
}

.SearchResultRightSide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.SearchResultRightSide .Input {
  margin: 0 10px 0 10px;
}

.SearchResultRightSide .Textarea {
  height: 100%;
  margin: 10px 10px 0 10px;
}

.NewArtistArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
}

.NewExhibitionArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
}

.TimeInput {
  padding: 10px 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #41553A;
  border-radius: 5px;
  font-size: small;
  font-weight: 500;
  font-family: sans-serif;
  color: white;
  background-color: #41553A;
  outline: none;
  box-shadow: 0 0 10px #888;
  margin: 10px;
  transition: all 0.5s;
}

.TimeInput:hover {
  cursor: pointer;
  color: #41553A;
  background-color: white;
}

.InformationArea {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UpdateInformationArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.25s;
}

.UpdateInformationArea .Input {
  box-shadow: none;
  width: 100%;
  border-color: white;
}

.UpdateInformationArea .Button {
  box-shadow: none;
  border-color: white;
}

.SubscribtionListArea {
  width: 770px;
  padding: 10px;
  border: solid;
  border-width: thin;
  border-color: white;
  border-radius: 5px;
  background-color: white;

}

.SubscribtionArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EmailList {
  max-height: 500px;
  overflow: scroll;
}

.ListItem {
  padding: 2px 0 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.1s;
}

.ListItem li {
  font-size: small;
  font-weight: 500;
  color: #41553A;
}

.ListItem:hover li {
  text-decoration: underline;
}

.ListItem:hover {
  cursor: pointer;
}

.DeleteButton {
  color: rgb(203, 24, 24);
  font-size: small;
  font-weight: normal;
  margin: 0 10px 0 0;
  padding: 0;
  transition: all 0.2s;
}

.DeleteButton:hover {
  text-decoration: underline;
  color: rgb(115, 6, 6);
}