/* GENERAL STYLING */
.App {
  display: flex;
  flex-direction: column;
  width: calc(3 * 100vw);
  position: relative;
  right: calc(0 - 100vw);
  justify-content: center;
  align-items: center;
}

.TopArea {
  display: flex;
  flex-direction: row;
}

.BottomArea {
  display: flex;
  flex-direction: column;
}

.BackLinkArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3% 0 0 0;
  transition: all 0.5s;
}

.MoveLeft:hover {
  cursor: pointer;
  margin: 3% 10px 0 0;
}

.MoveRight:hover {
  cursor: pointer;
  margin: 3% 0 0 10px;
}

.MoveUp:hover {
  cursor: pointer;
  margin: 3% 0 10px 0;
}

.Header {
  font-size: 70px;
  color: #41553A;
  font-weight: 500;
  margin: 3% 0 0 0;
  padding: 0;
  text-shadow: 0 0 5px #888;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('./media/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

/* STYLING FOR THE HOME PAGE */
.HomeBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.HomeBackground .Header {
  margin: 10% 0 0 0;
}

.LocationHeaderOne {
  font-size: 25px;
  color: #41553A;
  font-weight: 500;
  margin: 5% 0 0 0;
  padding: 0;
}

.LocationHeaderTwo {
  font-size: 20px;
  color: #41553A;
  font-weight: 500;
  margin: 5px 0 0 0;
  padding: 0;
}

.NextOpeningHeader {
  font-size: 30px;
  color: #41553A;
  font-weight: 500;
  margin: 50px 0 0 0;
  padding: 0;
}

.BuyTicketButton {
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: #41553A;
  border-radius: 5px;
  margin: 25px 0 0 0;
  box-shadow: 0 0 8px #888;
  transition: all 0.5s;
}

.BuyTicketButton:hover {
  background-color: #41553A;
  color: white;
  cursor: pointer;
}

.ContactLinkArea {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  align-items: center;
  transition: all 0.5s;
}

.ContactLinkArea:hover {
  cursor: pointer;
  left: 20px;
}

.ArtistsLinkArea {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  align-items: center;
  transition: all 0.5s;
}

.ArtistsLinkArea:hover {
  cursor: pointer;
  right: 20px;
}

.ExhibitionsLinkArea {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  align-items: center;
  transition: all 0.5s;
}

.ExhibitionsLinkArea:hover {
  cursor: pointer;
  bottom: 20px;
}

.LinkArrow {
  color: #41553A;
  font-size: 20px;
}

.LinkText {
  font-size: 20px;
  color: #41553A;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

/* STYLING FOR THE ARTISTS PAGE */
.ArtistsBackground {
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

.ArtistsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ArtistsInfoArea {
  width: 90vw;
  max-width: 800px;
  margin: 3% 0 0 0;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .ArtistsInfoArea {
    flex-direction: column;
  }
}

.ArtistsPhotoArea {
  margin: 0 10px 0 0;
  box-shadow: 0 0 10px #888;
  border-radius: 10px;
  flex: 1;
}

.ProfileImage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ArtistsBioArea {
  flex: 2;
  width: 100%;
  height: calc(250px - 40px);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
  padding: 20px;
}

/* STYLING FOR THE EXHIBITIONS PAGE */
.ExhibitionsBackground {
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

/* STYLING FOR THE CONTACT PAGE */
.ContactBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.ContactArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.ContactInfoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0 0 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px #888;
  padding: 25px
}

.ContactInfoArea .LocationHeaderOne {
  margin: 10px 0 0 0;
}

.NewsLetterArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0 0 0;
  width: 100%;
}

.NewsLetterLabel {
  font-size: 30px;
  color: #41553A;
  font-weight: 500;
}

.NewsLetterInputArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.NewsLetterInput {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  border: solid;
  border-width: thin;
  border-color: #41553A;
  box-shadow: 0 0 10px #888;
  margin: 0 5px 0 0;
  font-size: medium;
  color: #41553A;
  font-weight: 500;
  width: 80%;
  max-width: 400px;
  outline: none;
}

.NewsLetterButton {
  border: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: #41553A;
  background-color: white;
  color: #41553A;
  font-size: 15px;
  font-weight: 500;
  padding: 0 10px 0 10px;
  box-shadow: 0 0 10px #888;
  transition: all 0.5s;
}

.NewsLetterButton:hover {
  cursor: pointer;
  background-color: #41553A;
  color: white;
}